In [32]:
import pandas
import numpy as np

In [98]:
N = 10

index = np.arange(N)
col = pandas.read_csv("dns.col")
df1 = pandas.DataFrame(index=index, columns=col.columns)

In [104]:
dns_line = pandas.read_csv("dns.log").values[0]
#dns_line = pandas.DataFrame(dns_line, columns=col)
print(dns_line)
df1.loc[1] = dns_line
print(df1)
#print(pandas.DataFrame(dns_line.loc[0], index=[4]))

['CghXHv4P9sybq1dnL' '192.168.202.100' 45658 '192.168.27.203' 137 'udp'
 33008 nan
 '*\\x00\\x00\\x00\\x00\\x00\\x00\\x00\\x00\\x00\\x00\\x00\\x00\\x00\\x00'
 1 'C_INTERNET' 33 'NBSTAT' 0.0 'NOERROR' 1 nan nan False False False
 False False 1331901005]
                 uid              src  sport             dst dport proto  \
0  CghXHv4P9sybq1dnL  192.168.202.100  45658  192.168.27.203   137   udp
1  CghXHv4P9sybq1dnL  192.168.202.100  45658  192.168.27.203   137   udp
2                NaN              NaN    NaN             NaN   NaN   NaN
3                NaN              NaN    NaN             NaN   NaN   NaN
4                NaN              NaN    NaN             NaN   NaN   NaN
5                NaN              NaN    NaN             NaN   NaN   NaN
6                NaN              NaN    NaN             NaN   NaN   NaN
7                NaN              NaN    NaN             NaN   NaN   NaN
8                NaN              NaN    NaN             NaN   NaN   NaN
9                NaN              NaN    NaN             NaN   NaN   NaN

  trans_id  rtt                                              query qclass  \
0    33008  NaN  *\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\...      1
1    33008  NaN  *\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\...      1
2      NaN  NaN                                                NaN    NaN
3      NaN  NaN                                                NaN    NaN
4      NaN  NaN                                                NaN    NaN
5      NaN  NaN                                                NaN    NaN
6      NaN  NaN                                                NaN    NaN
7      NaN  NaN                                                NaN    NaN
8      NaN  NaN                                                NaN    NaN
9      NaN  NaN                                                NaN    NaN

   ... rcode_name    Z answers TTLs     AA     TC     RD     RA rejected  \
0  ...    NOERROR    1     NaN  NaN  False  False  False  False    False
1  ...    NOERROR    1     NaN  NaN  False  False  False  False    False
2  ...        NaN  NaN     NaN  NaN    NaN    NaN    NaN    NaN      NaN
3  ...        NaN  NaN     NaN  NaN    NaN    NaN    NaN    NaN      NaN
4  ...        NaN  NaN     NaN  NaN    NaN    NaN    NaN    NaN      NaN
5  ...        NaN  NaN     NaN  NaN    NaN    NaN    NaN    NaN      NaN
6  ...        NaN  NaN     NaN  NaN    NaN    NaN    NaN    NaN      NaN
7  ...        NaN  NaN     NaN  NaN    NaN    NaN    NaN    NaN      NaN
8  ...        NaN  NaN     NaN  NaN    NaN    NaN    NaN    NaN      NaN
9  ...        NaN  NaN     NaN  NaN    NaN    NaN    NaN    NaN      NaN

           ts
0  1331901005
1  1331901005
2         NaN
3         NaN
4         NaN
5         NaN
6         NaN
7         NaN
8         NaN
9         NaN

[10 rows x 24 columns]